@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300")


$box
  background-color rgba(#f5f5f5, 0.8)
  border-top 1px solid rgba(white, 0.8)
  box-shadow 0 2px 5px rgba(0, 0, 0, 0.4)
  border-radius 4px

$sink
  padding: 5px
  box-shadow 0 1px 2px rgba(0, 0, 0, 0.2) inset
  border-radius 4px
  border 1px solid rgba(0, 0, 0, 0.15)
  border-bottom 1px solid white

#tvs-flow-editor

  @import "vendor/bootstrap"
  @import "vendor/material-design-iconic-font"
  @import "vendor/re-com"
  @import "vendor/codemirror"
  @import "vendor/cm-theme/monokai"

  font-family Segoe UI, Roboto, sans-serif
  font-size 14px
  font-weight 400
  line-height 1.42857143
  color rgba(68, 68, 68, 1.0)
  letter-spacing 0.002em
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

  @extend $box
  position fixed
  margin 0
  padding 5px
  max-width: calc(100% - 20px)
  max-height: calc(100% - 20px)
  box-sizing: border-box
  box-shadow 0 10px 20px rgba(0, 0, 0, 0.4)
  opacity 0.1
  transition opacity 0.3s

  &:hover
    opacity 1


  .level2
  .level1
    text-shadow: 0 1px 1px rgba(white, 0.8)


  .main-header
    user-select: none

    &:not(.fullscreen)
      cursor: grab


  .main-content
    @extend $sink
    padding-right 0
    background-color rgba(#ccc, 0.6)
    user-select: none


  .resize-drag
    position: absolute
    display: block
    right: 0
    bottom: 0
    width: 20px
    height: 20px
    cursor: nwse-resize
    border-radius 4px
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 51%)


  .graph-resizer
    cursor ew-resize


  .entity-component
  .process-component
    @extend $box
    margin 5px 0
    padding 10px

    pre
      margin 0


  .vis-network
    display flex
    flex-flow inherit
    flex 1 1 auto
    width 100%
    height 100%

    .vis-network-tooltip
      @extend $box
      position absolute
      display: block
      padding: 0 5px
      font-size 0.85em


  .graph-container
    position relative
    z-index 100
    background-color rgba(#fff, 0.8)
    border 1px solid rgba(0, 0, 0, 0.25)
    border-bottom 1px solid white
    box-shadow 0 1px 5px rgba(0, 0, 0, 0.4) inset
    border-radius 4px


  .graph-mode-selector
    position absolute
    top 5px
    right 5px
    z-index 1


  .context-menu
    @extend $box
    position: absolute
    padding: 5px 5px 10px


  .item-list
    @extend $sink


  .CodeMirror
    height auto
    width 100%
    font-family "Source Code Pro", Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace
    line-height 1.5
    font-size 15px
    border-radius 4px


.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: 1px solid silver;

  background: white;
  font-size: 90%;
  font-family: monospace;
  max-width: 19em;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: black;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}
